---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "normalize.css",
    "fonts.css",
      "base",
      "../neat/neat"
;

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

::selection {
  background: $red; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $red; /* Gecko Browsers */
}

$grid: (
  columns: 1,
  gutter: 2rem,
);

$grid--tablet-up: (
  columns: 12,
  gutter: 2rem,
  media: "(min-width: 800px)",
);

$grid--mobile-up: (
  columns: 12,
  gutter: 2rem,
  media: "(min-width:500px) and (max-width:800px)",
);

$grid--mobile-only: (
  columns: 12,
  gutter: 2rem,
  media: "(max-width:800px)",
);

$no-gutter: (
  columns: 1,
  gutter: 0,
);

$no-gutter--tablet-up: (
  columns: 12,
  gutter: 0,
    media: "(min-width: 800px)",
);

@mixin rather {
  font-family: "Rather";
  font-weight: normal;
}

@mixin rather-semi {
  font-family: "Rather";
  font-weight: 600;
}

@mixin rather-block {
  font-family: "Rather";
  font-weight: 600;
  letter-spacing: 0.03em;
  font-size: 14px;
}

@mixin cover-photo {
  background-size: cover;
  background-position: center;
}

body {
  overflow-x: hidden;
  @include grid-media($grid--tablet-up) {
    overflow-x: visible;
  }
}

p {
  font-family: "Rather", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.header__logo {
  background: url('/assets/img/logo.svg');
  background-position: center 10px; 
  background-repeat: no-repeat;
  height: 44px;
  background-size: auto 30px;
  a {
    display: block;
    width: 100%; height: 100%;
  }
}

.header__hamburger {
  position: absolute;
  right: 13px; top: 13px;
  cursor: pointer;
  @include grid-media($grid--tablet-up) {
    display: none;
  }
}

.header__nav--mobile {
  display: block;
  background: #fff !important;
  margin-bottom: 20px;
  @include grid-media($grid--tablet-up) {
    display: none;
  }
}

.page-content {
  margin-bottom: 45px;
}

/** HOME **/

.home__cover {
  max-height: 646px;
  display: table;
  width: 100vw;
  height: 100vh;
  @include cover-photo;
  user-select: none;
}

.home__logo {
  text-align: center;
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
}

.logo__tagline {
  @include rather-block;
  margin-top: 30px;
  color: #fff;
}

/** NAV **/

.main__nav {
  background: $red;
  display: block;
  position: fixed;
  bottom: 0; 
  left: 0; 
  right: 0; 

  height: 100vh;

  ul {
    list-style: none;
    margin: 0; padding: 0;
  }

  li {
    text-align: center;
    display: table;
    vertical-align: middle;
  }
  display: none;
  @include grid-media($grid--tablet-up) {
    display: block;
    height: 44px;
    ul {
      display: table;
      width: 100%;
      height: 100%;
    }
    li {
      display: table-cell;
      vertical-align: middle;
      width: 20%;
      text-align: center;
      vertical-align: middle;
    }
  }

  z-index: 10;
}

.nav__item {
  @include rather-block;
  color: #fff;
  font-size: 30px;

  display: block;
  width: 100vw;
  margin-top: 30px;

  @include grid-media($grid--tablet-up) {
    display: inline;
    font-size: 14px;  
    height: auto;
    text-transform: uppercase;
    padding: 4px 8px;
  }

  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@include grid-media($grid--tablet-up) {
  .nav__item--boxed {
    border: 1px solid #fff;
    &:hover {
      text-decoration: none;
      background: #fff;
      color: $red;
    }
  }
}

/** CONCERT WIDGET **/
.home__concert {
  position: relative;

    height: 1320px;
  @include grid-media($grid--tablet-up) {
  height: 660px;
  }
}
.concert__widget {
  width: 100%;
  @include grid-media($grid--tablet-up) {
    position: absolute; right: 0; top: 0;
    display: inline-block;
    width: 50%;
  }
  height: 660px;
  position: relative;
}

.concert__dates {
  display: block;
  @include grid-media($grid--tablet-up) {
    position: absolute; left: 0; top: 0;
    display: inline-block;
    width: 50%;
  }
  width: 100%;
}

.concert__text {
  
}

.concert__title, .concert__buy {
  @include rather-semi;
  text-transform: uppercase;
  color: $red;
  text-decoration: underline; 
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding: 100px;
}

a.concert__buy {
  display: block;
  text-align: center;
}

.concert__date {
  @include rather-semi;
  text-transform: uppercase;
  color: #000;
  font-size: 50px;
  text-align: center;
}

.concert__images {
  display: table-cell;
  width: 50%;
}

.arrow--left {
  img {
    transform: rotate(180deg);
  }
  position: absolute;
  bottom: 0; top: 48%; left: 20%; 
  margin: auto;
}

.arrow--right {
  position: absolute;
  bottom: 0; top: 48%; right: 20%; 
  margin: auto;
}

.concert__images {

}

.images__container {
  margin: auto;
  width: 50%;
  height: 80%;
  display: block;
}

.images__container img {
  width: 50%;
  max-height: 500px;
  margin: auto;
  position: absolute;
  top: 0; left: 25%; right: 25%; bottom: 0;
  z-index: -1;
  opacity: 0;
}

.visible {
  opacity: 1 !important;
}

/** TEXT FRAME **/

.frame__text {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  width: 100vw;
  overflow: hidden;
  .text {
    @include rather-block;
    font-size: 13px;
    padding: 0.4em;
    text-transform: uppercase;
    overflow: hidden;
    height: 1.1em;
    line-height: 1.5em;
    color: #000;
    span {
      text-decoration: underline;
      padding-left: 4px;
    }
  }
}

.frame__text--top {
  width: 110vw;
  background: #fff;
  position: absolute;
  top: 0;
}

.frame__text--right {
  width: 100vh;
  /*transform: rotate(90deg);*/
  z-index: 1;
}

.frame__text--bottom {
  width: 110vw;
  background: #fff;
  transform: rotate(180);
  position: absolute;
  bottom: 0;
}

.frame__text--left {
  position: absolute;
  top: 50%;
  left: -100vw;
  width: 100%;
  height: 20px;
  background: red;
  transform: rotate(-90deg);
  text-align: right;
}

/** SUBPAGE LAYOUT **/
.page__container {
  width: calc(100% - 40px);
  margin: auto;
  padding: 20px;
  h1, h2, h3, h4, h5, h6, p {
    @include rather-semi;
    text-align: center;

    @include grid-media($grid--tablet-up) {
      margin: 120px 0 55px 0;
    }
  }

  p {
    width: 100%;
    font-size: 20px;
    line-height: 29px;
    @include grid-media($grid--tablet-up) {
      width: 80%;
      margin: 20px auto;
      text-align: center;
    }
  }

  img {
    margin: 40px 0;
  }

  h2 {
    font-size: 40px;
  }

  h1 {
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
  }

  img {
    width: 100%;
  }

  @include grid-media($grid--tablet-up) {
    width: 935px;
    margin: auto;
  }
}
