<section class="home__concert">

    <div class="concert__dates">
        <h3 class="concert__title">Tónleikar</h3>
        <h3 class="concert__date">19.&mdash;20. júlí</h3>
        <a class="concert__buy" href="https://tix.is/is/event/7597/lunga-2019/" target="_blank">Kaupa miða</a>
    </div>
    <div class="concert__widget image__widget">
        <div class="arrow--left">
            <a href="#">
                <img src="/assets/img/arrow.svg" alt="arrow left"/>
            </a>
        </div>
        <div class="arrow--right">
            <a href="#">
                <img src="/assets/img/arrow.svg" alt="arrow right"/>
            </a>
        </div>

        <div class="images__container">
            <img src="../assets/img/lineup/l19-linup-en.png" class="photo" alt="Concert image"/>
            <img src="../assets/img/lineup/kaelanmikla.jpg" class="photo" alt="Concert image"/>
            <img src="../assets/img/lineup/yungnigodrippin.jpg" class="photo" alt="Concert image"/>
            <img src="../assets/img/lineup/goss.jpg" class="photo" alt="Concert image"/>
            <img src="../assets/img/lineup/gdrn.jpg" class="photo" alt="Concert image"/>
            <img src="../assets/img/lineup/briet.jpeg" class="photo" alt="Concert image"/>
            <img src="../assets/img/lineup/bagdadbrothers.jpeg" class="photo" alt="Concert image"/>
            <img src="../assets/img/lineup/hatari.jpg" class="photo" alt="Concert image"/>
        </div>
    </div>
</section>