<nav class="main__nav">
  <header class="header__nav--mobile">
    <div class="header__logo"></div>

    <div class="header__hamburger" id="close-nav">
      <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
              <g id="iPhone-7" transform="translate(-346.000000, -13.000000)" stroke="#black" stroke-width="2">
                  <g id="Group" transform="translate(348.000000, 15.000000)">
                      <path d="M0,13.9591668 L13.9591668,0" id="Line"></path>
                      <path d="M0,0 L13.9591668,13.9591668" id="Line-Copy-2"></path>
                  </g>
              </g>
          </g>
      </svg>
    </div>
  </header>
  {% if page.lang == "en" %}

  <ul>
    <li>
      <a href="/en/about-lunga" class="nav__item">About LungA</a>
    </li>
    <li>
      <a href="/en/program" class="nav__item">Program</a>
    </li>
    <li>
      <a href="https://www.tix.is/is/event/5706/lunga-2018/" class="nav__item nav__item--boxed">Buy tickets</a>
    </li>
    <li>
      <a href="/en/contact" class="nav__item">Contact</a>
    </li>
    <li>
      <a href="/en/applications" class="nav__item">Applications</a>
    </li>
    <li class="mobile-only">
      <a href="https://2017.lunga.is/school" class="nav__item">LungA School</a>
    </li>
    <li class="mobile-only">
      <a href="/" class="nav__item">Íslenska</a>
    </li>
  </ul>

  {% else %}

  <ul>
    <li>
      <a href="/um-lunga" class="nav__item">Um LungA</a>
    </li>
    <li>
      <a href="/dagskra" class="nav__item">Dagskrá</a>
    </li>
    <li>
      <a href="https://www.tix.is/is/event/5706/lunga-2018/" class="nav__item nav__item--boxed">Kaupa miða</a>
    </li>
    <li>
      <a href="/hafa-samband" class="nav__item">Hafa samband</a>
    </li>
    <li>
      <a href="/umsoknir" class="nav__item">Umsóknir</a>
    </li>
    <li class="mobile-only">
      <a href="https://2017.lunga.is/school" class="nav__item">LungA Skólinn</a>
    </li>
    <li class="mobile-only">
      <a href="/en" class="nav__item">English</a>
    </li>
  </ul>
  {% endif %}
</nav>