{% if page.lang == "en" %}
<h3 style="padding-top: 40px;">WORKSHOPS</h3>
<div style="margin-left:40px;margin-right:40px;background-color:white;text-align:center;">
<p style="text-align: center;">The workshops for LungA 2019 will be announced on the 30th of April and will open for sign ups 1st of May!<br>

  Follow us on <a href="https://www.facebook.com/lunga.festival/" target="_blank">FB</a> and <a href="https://www.instagram.com/lunga.festival/" target="_blank">Instagram</a>!
<br>
  Love<br>

  LungA</p></div>

  <!-- {% include workshops.html %}-->

{% else %}
<h3 style="padding-top: 40px;">LISTASMIÐJUR</h3>

<div style="margin-left:40px;margin-right:40px;background-color:white;">
  <p style="text-align: center;">Listasmiðjurnar fyrir LungA 2019 verða tilkynntar 30.apríl og skráning hefst 1.maí!<br>

  Fylgist með Lunga á fb og instagram!<br>

  Ást<br>

  LungA</p></div>
  <!--{% include workshops.html %}-->
{% endif %}