---
layout: default
---

<div class="home__cover" style="background-image: url('{{ page.cover_photo }}')">
  <div class="home__logo">
    <img src="/assets/img/logo-white.svg" alt="LungA 2018 logo" />
    <p class="logo__tagline">LISTAHÁTÍÐ — SEYÐISFJÖRÐUR — 15.&nbsp;–&nbsp;22.&nbsp;JÚLÍ&nbsp;2018</p>
  </div>
</div>

{% include navigation.html %}

<section class="home__concert">
  <div class="frame__text" data-content="Tónlistarhátíð">
    
    <div class="frame__text--bottom text"></div>
    <div class="frame__text--top text"></div>
  </div>
  <div class="concert__dates">
    <h3 class="concert__title">Tónleikar</h3>
    <h3 class="concert__date">20. - 21. júlí</h3>
    <a class="concert__buy" href="https://www.tix.is/is/event/5706/lunga-2018/">Kaupa miða</a>
  </div>
  <div class="concert__widget image__widget">
    <div class="arrow--left">
      <a href="#">
        <img src="/assets/img/arrow.svg" alt="arrow left" />
      </a>
    </div>
    <div class="arrow--right">
      <a href="#">
        <img src="/assets/img/arrow.svg" alt="arrow right" />
      </a>
    </div>

    <div class="images__container">
      {% for image in page.concert_images %}
        <img src="{{ image }}" class="photo" alt="Concert image" />
      {% endfor %}
    </div>
  </div>
</section>

<section class="home__instagram image__widget">
  <h3 class="instagram__left"><a href="https://www.instagram.com/lunga.festival/">@LungA.Festival</a></h3>
        {% for image in page.instagram_images %}
        <div class="photo__container">
          <img src="{{ image }}" class="photo" alt="Instagram images" />
        </div>
      {% endfor %}
  <h3 class="instagram__right"><a href="https://www.instagram.com/tags/lunga">#LUNGA</a></h3>
</section>

<h3>Workshops</h3>
{% include workshops.html %}