---
layout: default
---

<div class="home__cover" style="background-image: url('{{ page.cover_photo }}')">
  <div class="home__logo">
    <img src="/assets/img/logo-white.svg" alt="LungA 2018 logo" />
    <p class="logo__tagline">LISTAHÁTÍÐ — SEYÐISFJÖRÐUR — 15.&nbsp;–&nbsp;22.&nbsp;JÚLÍ&nbsp;2018</p>
  </div>
</div>

{% include navigation.html %}

{% for section in page.sections %}

  {% if section == "concert" %}
    {% include concert.html %}
  {% elsif section == "instagram" %}
    {% include instagram.html %}
  {% elsif section == "workshops" %}
    {% include workshops_title.html %}
  {% else %}
  
  {% endif %}

{% endfor %}