---
layout: default
---

<div class="home__cover">
  <div class="home__logo">
    <img src="/assets/img/logo-green.svg" alt="LungA 2019 logo" style="width:60%;">
    <p class="logo__tagline" style="text-shadow:0px 0px 5px white;">ART FESTIVAL&emsp;SEYÐISFJÖRÐUR&emsp;14&mdash;21&nbsp;JULY&nbsp;2019</p>
  </div>
</div>

{% include navigation.html %}

<section class="home__concert">
  <div class="concert__dates">
    <h3 class="concert__title">Concert</h3>
    <h3 class="concert__date">19.&mdash;20. july</h3>
    <a class="concert__buy" href="https://tix.is/is/event/7597/lunga-2019/" target="_blank">Buy tickets</a>
  </div>
  <div class="concert__widget image__widget">
    <div class="arrow--left">
      <a href="#" style="text-decoration:none;">
        <p> ⟵ </p>
        <!-- <img src="/assets/img/arrow.svg" alt="arrow left"/>-->
      </a>
    </div>
    <div class="arrow--right">
      <a href="#"  style="text-decoration:none;">
        <p> ⟶ </p>
        <!--<img src="/assets/img/arrow.svg" alt="arrow right"/>-->
      </a>
    </div>

    <div class="images__container">
      <img src="../assets/img/lineup/lineup-fri.png" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/lineup-sat.png" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/kelseylu.png" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/aroncan.png" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/liss.jpg" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/clubdub.png" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/upsammy.png" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/bjarki.png" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/linen.jpg" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/kaelanmikla.jpg" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/yungnigodrippin.jpg" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/goss.jpg" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/gdrn.jpg" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/briet.jpeg" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/bagdadbrothers.jpeg" class="photo" alt="Concert image"/>
      <img src="../assets/img/lineup/hatari.jpg" class="photo" alt="Concert image"/>
    </div>
  </div>
</section>

<div>
  {% include events_title.html %}

</div>
{% include workshops_title.html %}



<section class="home__instagram image__widget">
  <p style="text-align:center;">
    instagram:<br>
    <a href="https://www.instagram.com/lunga.festival/" target="_blank" style="font-size:20px;">@LungA.Festival</a> &emsp; <a href="https://www.instagram.com/tags/lunga" target="_blank">#Lunga2018</a></p>
</section>



<div id="page_Wrapper" style="pointer-events:none;">
  <img src="../assets/flash/art.svg" class="movingImg" id="image" style="position:fixed;max-width:500px;"/>
</div>



<script type="text/javascript">
  window.onLoad = Prep();
  function Prep() {
    window_Height = window.innerHeight;
    window_Width = window.innerWidth;

    image_Element = document.getElementById("image");
    image_Height = image_Element.clientHeight;
    image_Width = image_Element.clientWidth;

    availSpace_V = window_Height - image_Height;
    availSpace_H = window_Width - image_Width;

    var changeInterval = 2000; // Time has to be in miliseconds. So, 3000 is 3 seconds
    setInterval(moveImage, changeInterval);
  }
  function moveImage() {
    var randNum_V = Math.round(Math.random() * availSpace_V);
    var randNum_H = Math.round(Math.random() * availSpace_H);

    image_Element.style.top = randNum_V + "px";
    image_Element.style.left = randNum_H + "px";

    // ADD PHOTOS: HERE YOU CHANGE THE PICTURES ? ADD THIS: , "img/random/filename.jpg" TO TO THE END OF THE SEQUENCE
    var myndir = ["../assets/flash/talks.svg","../assets/flash/events.svg", "../assets/flash/fun.svg","../assets/flash/art.svg", "../assets/flash/shows.svg", "../assets/flash/workshops.svg", "../assets/flash/concerts.svg"];
    var rand = myndir[Math.floor(Math.random() * myndir.length)];

    var im = document.getElementById("image");
    im.setAttribute("src", rand);

  }
</script>