---
layout: default
---

{% include navigation.html %}

<section class="page__container">
  <style type="text/css">
    {% if page.heading_color %}
    h1, h2, h3, h4, h5, h6 {
      color: {{ page.heading_color }};
    }

    .workshops__item a {
      color: {{ page.heading_color }} !important;
    }
    {% endif %}
  </style>

  {% if page.cover_photo %}
  <img src="{{ page.cover_photo }}" />
  {% endif %}

  <h1 id="page_title">{{ page.title }}</h1>

  <div id="main_text_content">
    {{ content }}
  </div>

  {% if page.tail_photo %}
    <img src="{{ page.tail_photo }}" />
  {% endif %}

</section>

<script>

  var isTitle = "{{ page.title_is }}";
  var isContent = `{{ page.body_is | markdownify }}`;

  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  if(window.location.href.indexOf("workshops") > -1) {
    if(getParameterByName("lang") != "en") {
      $("#main_text_content").html(isContent);
      $("#page_title").html(isTitle);
    }
  }
  if(window.location.href.indexOf("events") > -1) {
    if(getParameterByName("lang") != "en") {
      $("#main_text_content").html(isContent);
      $("#page_title").html(isTitle);
    }
  }
</script>